.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100vh;
}


  @keyframes slide-in-triangle{ 
    0%{
      transform: translate(-500px, 300px);      
    }
    33%{
      transform: translate(0,0);
    }
    34%{
      transform: rotate(0deg);
    }
    66%{
      transform:  rotate(360deg);
    }
    67%{
      transform: scale(1.0);
    }
    85%{
      transform: scale(1.3);;
    }
    100%{
      transform: scale(1.0);;
    }
    
  }


  
  .logo{
    background-image: url('trigan-logo-circle.svg');
  }
 
  .logo img{
      width: 150px;
      height: 150px;
      animation: slide-in-triangle 3s ease;
  }